@model IEnumerable<ashishprac.Models.Product>

<h2>Showing Products</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
 
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>

            <td>
                <a href="@Url.Action("Edit", new { id = item.Id })">Edit</a>
                <a href="@Url.Action("Delete", new { id = item.Id })">Delete</a>
            </td>

        </tr>


    }
</table>